@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link" target="_blank" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                <i class="fa-solid fa-sliders"></i>
                Admin
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link" asp-route-returnUrl="@Context.Request.PathAndQuery()" asp-area="" asp-controller="Account" asp-action="Logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            Logout
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-route-returnUrl="@Context.Request.PathAndQuery()" asp-area="" asp-controller="Account" asp-action="Login">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            Login
        </a>
    </li>
}